@model Survello.Web.Models.FormViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FormViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfExpiration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfFilledForms)
        </dd>
    </dl>
</div>
@foreach (var item in Model.TextQuestions)
{
@*<partial name="_Details" asp-route-id="@item.Id"/>*@
}
