@model Survello.Web.Models.FormViewModel
@{
    ViewData["Title"] = "CreateAnswer";
}

        @{
            <div class="form-group row">
               
            </div>

            //int counter = Model.TextQuestions.Count + Model.DocumentQuestions.Count + Model.MultipleChoiceQuestions.Count();
            //int currentCounter = 0;

            //while (true)
            //{
            //    foreach (var item in Model.TextQuestions)
            //    {
            //        if (item.QuestionNumber == currentCounter)
            //        {
            //            var question = item;

                        
            //            break;
            //        }
            //    }
            //    break;
            //}




            ////for (int i = 0; i < Model.QuestionNumbers.Keys.Count; i++)
            ////{

            //    //var name = question.GetType().ToString();
            //    //name = name.Substring(name.Length - 9, 9) + "Template";

            //    //<partial name="@name" model="question" />

            //    //if (Model.QuestionNumbers[i] is CreateTextQuestionViewModel)
            //    //{
                @*var textQuestion = Model.QuestionNumbers[i] as CreateTextQuestionViewModel;
                string sth = textQuestion.Description;

                @Html.DisplayText(sth);
                @Html.TextBox(textQuestion.Answer, null, new { @class = "form-control" });*@




                @*@Html.TextBox("Answer", null, new { @class = "form-control" });

                foreach (var item in Model.QuestionNumbers[i])
                {
                    @Html.HiddenFor(q => q.TextQuestions[j].Description)
                    @Html.TextBox("Answer", null, new { @class = "form-control" });
                }*@

            //// }













            ////if (question is CreateMultipleChoiceQuestionViewModel)
            ////{
            ////    // <partial name="MultipleChoiceQuestionTemplate" model="question" />
            ////}
            ////if (question is CreateDocumentQuestionViewModel)
            ////{
            ////    //<partial name="DocumentQuestionTemplate" model="question" />

            ////}

            }
        
        <div class="col-md-2">
            <input type="submit" value="Create" id="submit" class="btn btn-default" />
        </div>

<div>
    <a asp-action="Index">Home</a>
</div>


