@model Survello.Web.Models.AnswerFormViewModel
@{
    ViewData["Title"] = "CreateAnswer";
}
    <form asp-action="CreateAnswer" id="submit">
        @{
        <div class="form-group row">
            <label>@Model.Title</label>
        </div>
            foreach (var key in Model.QuestionNumbers.Keys)
            {
                var question = Model.QuestionNumbers[key];

                //var name = question.GetType().ToString();
                //name = name.Substring(name.Length - 9, 9) + "Template";

                //<partial name="@name" model="question" />

                if (question is CreateTextQuestionViewModel)
                {
                    <partial name="_TextQuestionTemplate" model="question" />
                    @*<div id="tqContainer">
                        @Html.EditorFor(question => question.TextQuestions)
                    </div>*@

                }
                if (question is CreateMultipleChoiceQuestionViewModel)
                {
                    <partial name="MultipleChoiceQuestionTemplate" model="question" />
                }
                if (question is CreateDocumentQuestionViewModel)
                {
                    <partial name="DocumentQuestionTemplate" model="question" />

                }
            }
        }
        @*for (int i = 0; i < Model.QuestionNumbers.Count; i++)
        {
            if (Model.QuestionNumbers[i] is CreateTextQuestionViewModel)
            {
                @Html.EditorFor(modelItem => (modelItem.TextQuestions as Survello.Web.Models.AnswerFormViewModel).
                @Html.DisplayNameFor(question => question.TextQuestions[i])

            }
            }
        }*@
        <div class="col-md-2">
            <input type="submit" value="Create" id="submit" class="btn btn-default" />
        </div>
        </form>

        <div>
            <a asp-action="Index">Home</a>
        </div>


