@model Survello.Web.Models.FormViewModel

@{
    int globalQuestionID = 0;
}

<div class="row">
    <div class="col-md-12">
        <form>
            @{
                var fileCounter = 0;
                int textCounter = 0;
                int multipleChoiceCounter = 0;
                int documentCounter = 0;
            }
            @for (int i = 1; i <= Model.LastQuestionNumber; i++)
            {
                globalQuestionID++;
                //Text question
                if (textCounter < Model.TextQuestions.Count && Model.TextQuestions[textCounter].QuestionNumber == i)
                {
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-1">
                                    <img width="30" height="30" src="~/images/Orange_circle.png" />
                                </div>
                                <br />
                                <div class="col-sm-11">
                                    <input readonly type="text" class="form-control" value="@Model.TextQuestions[textCounter].Description" />
                                </div>
                            </div>
                        </div>
                        <br />
                        @if (Model.TextQuestions[textCounter].IsLongAnswer == true)
                        {
                            <div class="col-md-8" style="color:darkcyan">
                                <textarea class="form-control" asp-for="@Model.TextQuestions[textCounter].Answer" id="Q_@textCounter"></textarea>
                                <br />
                            </div>
                        }
                        else
                        {
                            <div class="col-md-8" style="color:darkcyan">
                                <input class="form-control" type="text" asp-for="@Model.TextQuestions[textCounter].Answer" id="Q_@textCounter" />
                                <span id="idSpanTitle_@textCounter" style="color:red"></span>
                            </div>
                            <br />
                        }
                    </div>
                    <br />
                    textCounter++;
                }
                if (multipleChoiceCounter < Model.MultipleChoiceQuestions.Count && Model.MultipleChoiceQuestions[multipleChoiceCounter].QuestionNumber == i)
                {
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-1">
                                    <img width="30" height="30" src="~/images/Orange_circle.png" />
                                </div>
                                <br />
                                <div class="col-sm-11">
                                    <input type="text" readonly class="form-control" value="@Model.MultipleChoiceQuestions[multipleChoiceCounter].Description" />
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="container">
                                    <div id="allOptions_@multipleChoiceCounter">
                                        @for (int k = 0; k < Model.MultipleChoiceQuestions[multipleChoiceCounter].Options.Count; k++)
                                        {
                                            if (Model.MultipleChoiceQuestions[multipleChoiceCounter].IsMultipleAnswer == true)
                                            {
                                                <div class="row">
                                                    <div class="form-check-inline" style="color:darkcyan">
                                                        <label class="form-check-label" asp-for="@Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].Answer">
                                                            <input type="checkbox" id="@Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].Id" asp-for="@Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].Answer" value="@Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].OptionDescription" />
                                                            @Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].OptionDescription
                                                        </label>
                                                    </div>
                                                    <br />
                                                </div>
                                            }
                                            else if (Model.MultipleChoiceQuestions[multipleChoiceCounter].IsMultipleAnswer == false)
                                            {
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="form-check-inline" style="color:darkcyan">
                                                            <input disabled type="radio" asp-for="@Model.MultipleChoiceQuestions[multipleChoiceCounter].RadioButtonAnswer" value="@Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].OptionDescription" />

                                                            @Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].OptionDescription
                                                        </div>
                                                    </div>
                                                    <br />
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    multipleChoiceCounter++;
                }
                if (documentCounter < Model.DocumentQuestions.Count && Model.DocumentQuestions[documentCounter].QuestionNumber == i)
                {
                    <div class="card">
                        <div class="card-header">
                            <div id="custom-file-label" style="font-size:smaller">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <img width="30" height="30" src="~/images/Orange_circle.png" />
                                    </div>
                                    <br />
                                    <div class="col-sm-11">
                                        <input type="text" readonly class="form-control" value="@Model.DocumentQuestions[documentCounter].Description" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <input disabled asp-for="@Model.DocumentQuestions[documentCounter].Files" type="file" multiple="multiple" />
                        <br />
                    </div>
                    <br />
                    fileCounter++;
                    documentCounter++;
                }
            }
            <br />
        </form>
    </div>
</div>
<div>
    <a style="color:darkcyan" asp-controller="Home" asp-action="Index">Home</a>
</div>
