@model Survello.Web.Models.FormViewModel

<div class="row">
    <div class="col-md-12">
        <form>
            <br />

            @{
                var fileCounter = 0;
                int textCounter = 0;
                int multipleChoiceCounter = 0;
                int documentCounter = 0;
            }
            @for (int i = 1; i <= Model.LastQuestionNumber; i++)
            {
                if (textCounter < Model.TextQuestions.Count && Model.TextQuestions[textCounter].QuestionNumber == i)
                {
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-1">
                                    <img width="30" height="30" src="~/images/Orange_circle.png" />
                                </div>
                                <br />
                                <div class="col-sm-11">
                                    <h4 style="color:#0a3c5f">@Model.TextQuestions[textCounter].Description</h4>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="container">
                            <input class="col-sm-8" disabled />
                        </div>
                        <br />
                    </div>
                    <br />
                    textCounter++;
                }
                if (multipleChoiceCounter < Model.MultipleChoiceQuestions.Count && Model.MultipleChoiceQuestions[multipleChoiceCounter].QuestionNumber == i)
                {
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-1">
                                    <img width="30" height="30" src="~/images/Orange_circle.png" />
                                </div>
                                <br />
                                <div class="col-sm-11">
                                    <h4 style="color:#0a3c5f">@Model.MultipleChoiceQuestions[multipleChoiceCounter].Description</h4>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div>
                                <br />
                                <div class="col-md-10">
                                    @for (int k = 0; k < Model.MultipleChoiceQuestions[multipleChoiceCounter].Options.Count; k++)
                                    {
                                        if (Model.MultipleChoiceQuestions[multipleChoiceCounter].IsMultipleAnswer == true)
                                        {
                                            <div class="row">
                                                <div class="form-check-inline" style="color:#0a3c5f">
                                                    <label class="form-check-label">
                                                        <input disabled type="checkbox" value="@Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].OptionDescription" />
                                                        <strong>@Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].OptionDescription</strong>
                                                    </label>
                                                </div>
                                                <br />
                                            </div>
                                        }
                                        if (Model.MultipleChoiceQuestions[multipleChoiceCounter].IsMultipleAnswer == false)
                                        {
                                            <div class="row">
                                                <div class="form-check-inline" style="color:#0a3c5f">
                                                    <input disabled type="radio" value="@Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].OptionDescription" />
                                                    <strong>@Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].OptionDescription</strong>
                                                </div>
                                            </div>
                                            <br />
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    multipleChoiceCounter++;
                }
                if (documentCounter < Model.DocumentQuestions.Count && Model.DocumentQuestions[documentCounter].QuestionNumber == i)
                {
                    <div class="card">
                        <div class="card-header">
                            <div id="custom-file-label" style="font-size:smaller">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <img width="30" height="30" src="~/images/Orange_circle.png" />
                                    </div>
                                    <br />
                                    <div class="col-sm-11">
                                        <input hidden type="text" readonly class="form-control" value="@Model.DocumentQuestions[documentCounter].Description" />
                                        <h4 style="color:#0a3c5f">@Model.DocumentQuestions[documentCounter].Description</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="container" style="color:#0a3c5f">
                            <p>Max file size: <strong>@Model.DocumentQuestions[documentCounter].FileSize</strong></p>
                            <p>File limit: <strong>@Model.DocumentQuestions[documentCounter].FileNumberLimit</strong></p>
                        </div>
                        <br />
                    </div>
                    <br />
                    fileCounter++;
                    documentCounter++;
                }
            }
            <br />
            
        </form>
    </div>
</div>
<div>
    <a style="color:darkcyan" asp-controller="Home" asp-action="Index">Home</a>
</div>
