@model Survello.Web.Models.FormViewModel

@{
    ViewData["Title"] = "AnsweredForm";
}

<h1 style="color:darkcyan">Answer of form: @Model.Title</h1>

@{
    int globalQuestionID = 0;
    var answerNumber = 1;
}

<div class="row">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <h5>@Model.Description</h5>
                <br />
            </div>

            @{
                var fileCounter = 0;
                int textCounter = 0;
                int multipleChoiceCounter = 0;
                int documentCounter = 0;
            }
            @for (int i = 1; i <= Model.LastQuestionNumber; i++)
            {
                globalQuestionID++;

                if (textCounter < Model.TextQuestions.Count && Model.TextQuestions[textCounter].QuestionNumber == i)
                {
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-1">
                                    <img width="30" height="30" src="~/images/Orange_circle.png" />
                                </div>
                                <br />
                                <div class="col-sm-11">
                                    <input readonly type="text" class="form-control" value="@Model.TextQuestions[textCounter].Description" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="col-md-8" style="color:darkcyan">
                            <h6 style="color:darkcyan">@Model.TextQuestions[textCounter].Answer</h6>
                        </div>
                        <br />
                    </div>
                    <br />
                    textCounter++;
                }
                if (multipleChoiceCounter < Model.MultipleChoiceQuestions.Count && Model.MultipleChoiceQuestions[multipleChoiceCounter].QuestionNumber == i)
                {

                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-1">
                                    <img width="30" height="30" src="~/images/Orange_circle.png" />
                                </div>
                                <br />
                                <div class="col-sm-11">
                                    <input type="text" readonly class="form-control" value="@Model.MultipleChoiceQuestions[multipleChoiceCounter].Description" />
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="form-group">

                                    <div class="col-md-10" id="allOptions_@multipleChoiceCounter">
                                        @for (int k = 0; k < Model.MultipleChoiceQuestions[multipleChoiceCounter].Options.Count; k++)
                                        {
                                            if (Model.MultipleChoiceQuestions[multipleChoiceCounter].IsMultipleAnswer == true)
                                            {
                                                <div class="form-check-inline" style="color:darkcyan">
                                                    <label class="form-check-label">
                                                        <input disabled type="checkbox" value="@Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].OptionDescription" />
                                                        @Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].OptionDescription
                                                    </label>
                                                </div>
                                            }
                                            else if (Model.MultipleChoiceQuestions[multipleChoiceCounter].IsMultipleAnswer == false)
                                            {
                                                <div class="form-check-inline" style="color:darkcyan">
                                                    <input disabled type="radio" asp-for="@Model.MultipleChoiceQuestions[multipleChoiceCounter].RadioButtonAnswer" value="@Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].OptionDescription" />

                                                    @Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].OptionDescription
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    multipleChoiceCounter++;
                }
                if (documentCounter < Model.DocumentQuestions.Count && Model.DocumentQuestions[documentCounter].QuestionNumber == i)
                {
                    <div class="card">
                        <div class="card-header">
                            <div id="custom-file-label" style="font-size:smaller">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <img width="30" height="30" src="~/images/Orange_circle.png" />
                                    </div>
                                    <br />
                                    <div class="col-sm-11">
                                        <input type="text" readonly class="form-control" value="@Model.DocumentQuestions[documentCounter].Description" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="container">
                            @if (Model.DocumentQuestions[documentCounter].AnswersFileNames.Count == 0)
                            {
                                <h6 style="color:darkcyan">There are no files attached</h6>
                            }
                            @for (int j = 0; j < Model.DocumentQuestions[documentCounter].AnswersFileNames.Count; j++)
                            {
                                @*<h6><a style="color:darkcyan" href="@Model.DocumentQuestions[documentCounter].AnswersFileNames[j]">File @answerNumber</a></h6>*@
                                answerNumber++;
                            }
                        </div>
                    </div>
                    <br />
                    fileCounter++;
                    documentCounter++;
                    answerNumber = 1;
                }
            }
            <br />
        </form>
    </div>
</div>
<div>
    <a style="background-color:darkcyan" class="btn btn-primary" asp-action="Details" asp-route-id="@Model.Id">Back to List</a>
</div>

