@model Survello.Web.Models.FormViewModel

@{
    ViewData["Title"] = "Answer";
}

<h1>Answer</h1>

<h4>FormViewModel</h4>
<hr />

<div class="row">
    <div class="col-md-4">


        <form method="post" enctype="multipart/form-data" asp-controller="Form" asp-action="Answer">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>


            @{

                int textCounter = 0;
                int multipleChoiceCounter = 0;
                int documentCounter = 0;

            }
            @for (int i = 0; i < Model.LastQuestionNumber; i++)
            {
                //Text question


                if (textCounter < Model.TextQuestions.Count && Model.TextQuestions[textCounter].QuestionNumber == i)
                {
                    <div class="form-group">
                        @Html.DisplayFor(modelItem => Model.TextQuestions[textCounter].Description, new { @class = "control-label col-md-4" })
                        <div class="col-md-6">

                            @Html.HiddenFor(modelItem => (Model.TextQuestions[textCounter].Id))
                            <div class="form-group">
                                <div>
                                    @Html.EditorFor(modelItem => (Model.TextQuestions[textCounter]).Answer)
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    textCounter++;
                }
                if (multipleChoiceCounter < Model.MultipleChoiceQuestions.Count && Model.MultipleChoiceQuestions[multipleChoiceCounter].QuestionNumber == i)
                {
                    @Html.HiddenFor(modelItem => (Model.MultipleChoiceQuestions[multipleChoiceCounter].Id))
                    <div class="form-group">
                        @Html.DisplayFor(modelItem => Model.MultipleChoiceQuestions[multipleChoiceCounter].Description, new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-10">

                                    @for (int k = 0; k < Model.MultipleChoiceQuestions[multipleChoiceCounter].Options.Count; k++)
                                    {
                                        @Html.HiddenFor(item => (Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].Id))

                                        if (Model.MultipleChoiceQuestions[multipleChoiceCounter].IsMultipleAnswer == true)
                                        {
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" asp-for="@Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].Answer" value="@Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].Option" />

                                                @Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].Option
                                            </label>
                                        }
                                        else
                                        {
                                            <label class="form-check-label" asp-for="@Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].Answer">
                                                <input type="radio" name="gg" asp-for="@Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].Answer" value="@Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].Option" />

                                                @Model.MultipleChoiceQuestions[multipleChoiceCounter].Options[k].Option
                                            </label>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    multipleChoiceCounter++;
                }
                if (documentCounter < Model.DocumentQuestions.Count &&  Model.DocumentQuestions[documentCounter].QuestionNumber == i)
                {
                    @Html.HiddenFor(modelItem => (Model.DocumentQuestions[documentCounter].Id))
                    <div id="custom-file-label" style="font-size: smaller"></div>
                    <div class="form-group">
                        @Html.DisplayFor(modelItem => Model.DocumentQuestions[documentCounter].Description)
                        <label asp-for="@Model.DocumentQuestions[documentCounter].Files" class="btn btn-primary btn-sm"></label>
                        <input asp-for="@Model.DocumentQuestions[documentCounter].Files" type="file" multiple="multiple" />

                    </div>
                    documentCounter++;
                }
            }
            <div class="form-group">
                <input type="submit" value="Save" id="6" class="btn btn-primary" />
            </div>


        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function radio(n) {
        $('#radio' + n).click();
        $('.radio').removeClass('selectedRadio');
        $(this).addClass('selectedRadio');
        $('#radionumber').val($(this).attr('id').substring(5));
    }
    //$('input[type="file"]').change(function (e) {
    //    let fileName = e.target.files[0].name;
    //    $('#custom-file-label').append(fileName);
    //    console.log(fileName)
    //});
</script>
