@model Survello.Web.Models.FormViewModel

@{
    ViewData["Title"] = "Answer";
}

<h1>Answer</h1>

<h4>FormViewModel</h4>
<hr />
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Answer">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>


                @for (int i = 0; i < @Model.TextQuestions.Count; i++)
                {
                    <div class="form-group">
                        @Html.DisplayFor(modelItem => Model.TextQuestions[i].Description, new { @class = "control-label col-md-4" })
                        <div class="col-md-6">

                            @Html.HiddenFor(modelItem => (Model.TextQuestions[i].Id))
                            <div class="form-group">
                                <div>
                                    @Html.EditorFor(modelItem => (Model.TextQuestions[i]).Answer)
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                }

                @for (int i = 0; i < @Model.MultipleChoiceQuestions.Count; i++)
                {
                    @Html.HiddenFor(modelItem => (Model.MultipleChoiceQuestions[i].Id))
                    <div class="form-group">
                        @Html.DisplayFor(modelItem => Model.MultipleChoiceQuestions[i].Description, new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-10">

                                    @for (int j = 0; j < Model.MultipleChoiceQuestions[i].Options.Count; j++)
                                    {
                                        @Html.HiddenFor(item => (Model.MultipleChoiceQuestions[i].Options[j].Id))

                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" id="@Model.MultipleChoiceQuestions[i].Options[j].Option" asp-for="@Model.MultipleChoiceQuestions[i].Options[j].Answer" value="@Model.MultipleChoiceQuestions[i].Options[j].Option" />

                                            @Model.MultipleChoiceQuestions[i].Options[j].Option
                                        </label>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                }


                <div class="form-group">
                    <input type="submit" value="Save" id="6" class="btn btn-primary" />
                </div>
            </form>

            @for (int i = 0; i < Model.DocumentQuestions.Count; i++)
            {
                @Html.HiddenFor(item => (Model.DocumentQuestions[i].Id))
                <div class="row">
                    <div class="control">
                        <form method="post" enctype="multipart/form-data" asp-controller="Blob" asp-action="Create">
                            <div id="Uploadbox" class="form-group">
                                <label> Select File </label>
                                <input class="form-control" name="files" multiple="multiple" type="file" />
                                <br />
                                @Html.HiddenFor(modelItem => (Model.DocumentQuestions[i].Id))
                                <input class="btn btn-success" id="5" type="submit" value="Submit" />
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>

}
<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $('#addFile').on('click', () => {
        let div = document.getElementById('files')

</script>