@model Survello.Web.Models.FormViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h3 style="color:darkcyan">Details of: <strong>@Model.Title</strong></h3>
</div>
<a style="color:darkcyan" asp-controller="Form" asp-action="ListForms">Back to List</a>
<hr />
<div>
    <div>
        See detailed information about every filled form. Choose from the dropdown:
    </div>
    <hr />

    <dl class="row">
        <dd class="col-sm-10" style="color:darkcyan">
            <h5><strong>@Html.DisplayFor(model => model.Description)</strong></h5>
        </dd>
    </dl>
</div>
@{
    int counter = 1;
}
@foreach (var item in Model.CorelationTokens)
{
    var formID = Model.Id;
    var dict = new Dictionary<string, string>();
    dict.Add("idForm", formID.ToString());
    dict.Add("idToken", item.ToString());
    //asp-route-id="@item"
    <a asp-controller="Form" asp-action="AnsweredForm" asp-all-route-data="@dict">Answer @counter</a>
    counter++;
}


<partial name="_Details" for="@Model" />



