@model IEnumerable<Survello.Web.Models.ListFormsViewModel>

@{
    ViewData["Title"] = "ListForms";
}

<h1 style="color:darkcyan">List of all your forms</h1>
<br />
@{
    var counter = 0;
}

<td>
    <a class="btn btn-primary" style="background-color:#fdd247;border:none" asp-action="Create">Create New</a>

    @*<button style="background-color:#ff9900" type="button" class="btn btn-group-lg" asp-action="Create">Analyses</button>

        <button style="background-color:#ff9900" type="button" class="btn btn-group-lg" asp-action="Create">Export</button>*@
    <br />
</td>
<br />
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                <a style="color:darkcyan" asp-action="ListForms" asp-route-sortOrder="@ViewData["TitleSortParm"]"> <span class="glyphicon glyphicon-sort"> Title</span>  </a>
            </th>
            <th>
                <a style="color:darkcyan" asp-action="ListForms" asp-route-sortOrder="@ViewData["LastModifiedOnSortParm"]"> <span class="glyphicon glyphicon-sort"> Last Modified</span>  </a>
            </th>
            <th>
                <a style="color:darkcyan" asp-action="ListForms" asp-route-sortOrder="@ViewData["CreatedOnSortParm"]"> <span class="glyphicon glyphicon-sort">Created on</span>  </a>
            </th>
            <th>
                <a style="color:darkcyan" asp-action="ListForms" asp-route-sortOrder="@ViewData["NumberOfFilledFormsSortParm"]"> <span class="glyphicon glyphicon-sort">Filled</span>  </a>
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            counter++;
            <tr style="color:#0a3c5f">
                <th scope="row">@counter.ToString()</th>
                <td style="color:#0a3c5f">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td style="color:#0a3c5f">
                    @if (item.LastModifiedOn == null)
                    {
                        @Html.DisplayName("Not modified yet");
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.LastModifiedOn)
                    }
                </td>
                <td style="color:#0a3c5f">
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td style="color:#0a3c5f">
                    @if (item.NumberOfFilledForms == 1)
                    {
                        @Html.DisplayFor(modelItem => item.NumberOfFilledForms)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.NumberOfFilledForms)
                    }
                </td>
                <td>
                    <a style="background-color:darkcyan; border:none" asp-controller="Form" asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-primary">Details</a>
                    <a style="background-color:#00666b; border:none" asp-controller="Form" asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-primary">Edit</a>
                    <a style="background-color:#00666b; border:none" asp-controller="Form" asp-action="Answer" asp-route-id="@item.Id" type="button" class="btn btn-primary">Answer</a>

                    <!-- Button trigger share modal -->
                    <button style="background-color:#00666b; border:none" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="@item.Id" onclick="showModal(this.id)">Share</button>

                    <!-- Share Modal -->
                    <div class="modal @item.Id fade" id="@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" style="color:darkcyan" id="exampleModalLabel">Share your Form:</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <h6 style="color:darkcyan">List the email addresses you want us to send your form to.</h6>
                                        <div class="form-group">
                                            <label asp-for="@item.Recipients" class="col-form-label">Recipients:</label>
                                            <input asp-for="@item.Recipients" id="@item.Id+rec" class="form-control" required>
                                            <span asp-validation-for="@item.Recipients" class="text-danger"></span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" style="background-color:darkcyan; border:none" value="@item.Id" onclick="saveModal(this.value)" class="btn btn-primary">Share</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Button trigger delete modal -->
                    <button type="button" class="btn btn-info btn-circle" data-name="@item.Title" data-id="@item.Id" id="deleteButton" data-toggle="modal" data-target="#exampleModal3">X</button>

                    <!-- Delete Modal -->
                    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 style="color:darkcyan" class="modal-title" id="exampleModal3Label">Are you sure that you want to delete this form?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form asp-controller="Form" asp-action="Delete">
                                        <input value="@item.Id" name="Id" type="hidden" id="hiddenId" />
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button style="background-color:darkcyan; border:none" type="submit" class="btn btn-primary">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container-button">
    <div class="back-to-top">
        <button style="background-color:darkcyan; border:none" class="btn btn-warning btn-circle" id="buttonBackToTop"><strong>&#11205</strong></button>
    </div>
</div>

@section scripts {
    <script src="~/js/shareModal.js"></script>
    <script src="~/js/deleteModal.js"></script>
    <script src="~/js/back-to-top.js"></script>
    
}
